.showcase {
  background-color: #333;
  height: 100%;
  position: relative;
  color: white;
  overflow: hidden;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 0 500px black;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../img/light.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -65px;
    animation: light 3s ease-in-out infinite;
  }

  &__header {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-family: 'assassin-st', sans-serif;
    font-size: 32px;
    top: 40px;
    font-weight: 400;
    color: rgba(white, $alpha: 0.75);
    span {
      color: $accentColor;
    }
  }

  &__content-wrapper {
    position: relative;
    height: 100%;
    padding: $padding 0;
    z-index: 3;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('../../img/glow.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: glow 1.8s ease-in-out infinite;
    }
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.48;
  }
}

// ANIMATIONS

@keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
